{% if ntp.authenticate %}
ntp authenticate
{% endif %}
{% for k in ntp.auth_keys %}
ntp authentication-key {{ k.id }} md5 {{ k.secret }}
{% endfor %}
{% for s in ntp.servers %}
ntp server {{ s.ip }} key {{ s.key_id }}
{% endfor %}
